body {
  background: url(../img/ArcadeWide.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'CaveStoryRegular';
}

p {
  font-size: 30px;
}

h1 {
  font-size: 50px;
}

li {
  font-size: 24px;
  color: white;
}

#characterChosen {
    font-size: 30px;
    margin-top: 16px;
    margin-left: 115px;
}

#chooseCharacter {
  padding: 0px 150px;
}

#chooseItems {
  padding: 0px 80px;
}
/*
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}*/



.arcade {
  text-align: center;
}

.game-screen {
    max-width: 100%;
    /*padding: 0px 25%;*/
}

#start-screen-img {
  height: 100%;
  width: 100%;
}

.start-page {
    max-width: 64%;
    margin: auto;
    margin-top: 25px;
    height: 583px;
    border-radius: 10px;
    /*display: none;*/
/*  margin-top: 5%; these are for 15'' macbook pro
    height: 585px;*/
}

.game {
    max-width: 64%;
    margin: auto;
    margin-top: 25px;
    height: 583px;
    border-radius: 10px;
    overflow: hidden;
}


.black-screen {
    margin: 0px;
    background-color: #0c0c0c;
    margin: auto;
    color: #3dc13d;
    border: solid;
    border-color: black;
    border-width: 1px;
    max-width: 64%;
    margin: auto;
    margin-top: 25px;
    height: 583px;
    border-radius: 10px;
    -webkit-box-shadow:inset 0 0 70px -20px rgba(61,193,61,1);
    box-shadow:inset 0 0 70px -20px rgba(61,193,61,1);
}

img.bigPicture {
  max-width:100%;
  margin-left: 0;
  border-radius: 10px;
  height: 583px;
  position: relative;
}

.statsBox {
  position: absolute;
  height: 150px;
  width: 100px;
  background: black;
  color: white;
  top: 40px;
  left: 300px;
  border-radius: 10px;
  padding: 2px;
}

.story {
  padding: 3%;
}

#user {
  padding: 5%;
}

.char1 {
  border-radius: 10px;
}

.char2 {
  border-radius: 10px;
}